@(blog: Blog, router: BlogReverseRouter, title: Option[String], posts: List[(BlogPost, String)],
    previous: Option[Call], next: Option[Call])(implicit req: RequestHeader)

@blog.info.theme.main(blog, router, title) {

  <nav>
    @if(previous.isDefined || next.isDefined) {
      <ul class="pagination pagination-sm">
        <li @if(previous.isEmpty) {class="disabled"}><a href="@previous.getOrElse("#")">&laquo;</a></li>
        <li @if(next.isEmpty) {class="disabled"}><a href="@next.getOrElse("#")">&raquo;</a></li>
      </ul>
    }

    @for(t <- title) {
      <h2>@t</h2>
    }
  </nav>

  @for(post <- posts) {
    <article>
      <h1 class="postTitle"><a href="@router.view(post._1)">@post._1.title</a></h1>

      <div class="postContent">
        @Html(post._2)
      </div>

    </article>
  }
}